@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  background-color: whitesmoke;
}

button,
input {
  cursor: pointer;
  font-family: inherit;
}

.title {
  font-family: "Jockey One", sans-serif;
  font-size: 5rem;
  margin-bottom: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@keyframes disappear {
  70% {
    opacity: 0.5;
  }
  to {
    transform: translateX(500px);
    filter: blur(50px);
    opacity: 0;
  }
}

.container.disappear {
  animation: disappear 0.3s ease;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(10, 2.3rem);
  grid-template-rows: repeat(10, 2.3rem);
  background-color: #f7f7f7;
  border: 1px solid black;
}

.cell {
  border: 1px solid black;
}

.cell.hover {
  background-color: #ff2c2c;
}

#human-board .cell.ship,
#setup-board .cell.ship {
  background-color: #555555;
}

.cell.miss {
  background-color: #ff2c2c;
}

.cell.hit {
  background-color: greenyellow;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.flex.row {
  flex-direction: row;
}

#orientation-btn {
  border: none;
  border-radius: 25px;
  padding: 5px 30px;
  font-weight: 600;
  font-size: 1rem;
  background-color: black;
  color: white;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  transition: 0.3s ease;
}

#orientation-btn:hover,
#orientation-btn:focus {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.5);
}

.boards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 150px;
  animation: appear 0.6s ease forwards;
}

@keyframes appear {
  to {
    opacity: 1;
    filter: none;
    transform: none;
  }
  from {
    transform: translateX(500px);
    filter: blur(50px);
    opacity: 0;
  }
}

#computer-board .cell:hover {
  background-color: #ff2c2c;
}

.game-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
}
